<div class='post-wrapper'>
  <div class='post'>
    <% if post.username == session[:username] %>
      <div class='username'>
        You posted this!!
      </div>
      <div class='link'>
        <%= link_to edit_post_path(post) do %>
          Edit!!
        <% end %>
      </div>
      <% else %>
      <div class='username'>
        <%= post.username %> posted this!
      </div>
      <% end %>
    <div class='image'>
      <%= image_tag post.image.variant(resize_to_limit: [700, nil]) %>
    </div>
    <div class='caption'>
      <%= post.caption %><br>
    </div>
  </div>
</div>