/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  background-image: image-url("80swallpaper.jpg");
  font-family: 'Yuji Syuku', serif;
}

.nav-header {
  text-align: center;
  font-size: 70px;
  color: black;
  line-height: auto;
  padding: 3%;
}

.link {
  text-align: center;
  font-size: 30px;
  color: black;
  line-height: auto;
  padding: 2%;
  word-wrap: normal;
}

.header {
  text-align: center;
  font-size: 40px;
  color: black;
  line-height: 55px;
}

.username {
  text-align: center;
  font-size: 30x;
  color: black;
  line-height: 35px;
  background-color: rgb(255, 252, 52);
}

.flash {
  text-align: center;
  font-size: 20px;
  color: black;
  line-height: auto;
  padding: 3%;
}

.navbar-container {
  border-radius: 100%;
  background-color: #f7f309;
  width: 90%;
  height: auto;
  margin: auto;
  padding: 20px;
}

.post-wrapper {
  border-radius: 10%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  width: 90%;
}

.post {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  background-color: #7cd5ff;
  border-color: #000000;
  border-style: solid;
  width: 90%;
  border-radius: 5px;
  border-width: 3px;
  margin: auto;
}

.image {
  text-align: center;
  display: block;
  margin: auto;
  width:88%
}

.caption {
  text-align: center;
  display: block;
  margin: auto;
  padding: 24px 24px;
  font-size: 40px;
  color: black;
  line-height: 24px;
}

.form-wrapper {
  width: 80%;
  margin: auto;
  padding: 40px;
  background-color: #7cd5ff;
  font-size: 25px;
  line-height: 30px;
  border-radius: 10%;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}